.main-nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8rem;
    list-style-type: none;
    margin:0px;
    padding: 0px;
    overflow: hidden;
    background-color: black;
}

.main-nav li {float: left; }
.main-nav li a {
    display: block;
    color:white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

h4 {
    color: white;
    text-shadow: 1px 1px 3px black;
}

h2 {
    color: white;
    text-shadow: 1px 1px 3px black;
}


div.gallery {
    margin: 1 auto;
    border: 250px;
    width: 400px   
}

p {
    
    margin-right:150px;
    margin-left:150px;
}

.gallery {
    margin: 10px 50px;
}
.gallery img:hover {
    filter: grayscale(100%)
}   

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    padding: 0 4px;
    flex: 50%
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}


